@import url('https://fonts.googleapis.com/css?family=Dosis:400,500&display=swap');

.passwordWrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;

  div {
    position: relative;
    color: #007c89;

    span {
      position: absolute;
      right: 0;
      display: flex;

      i {
        margin-right: 8px;
        margin-top: 3px;
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;

    input {
      margin-top: 8px;
      height: 30px;

      &:focus {
        outline: 2px solid #007c89;
      }
    }
  }
}