@import url('https://fonts.googleapis.com/css?family=Dosis:400,500&display=swap');

$showIconColor: #007c89;
$defaultBorderColor: rgba(36, 28, 21, 0.3);

.passwordWrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;

  div {
    position: relative;
    color: $showIconColor;

    span {
      position: absolute;
      right: 0;
      display: flex;

      i {
        margin-right: 8px;
        margin-top: 3px;
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;

    input {
      margin-top: 8px;
      height: 30px;
      border: 1px solid $defaultBorderColor;
      padding: 0 15px;

      &:focus {
        outline: 2px solid $showIconColor;
      }
    }
  }
}